<h1 mat-dialog-title class="text-center">{{data.title}}</h1>
<div mat-dialog-content>
    <p class="text-center">{{data.message}}</p>
</div>
<div mat-dialog-actions>
    <button *ngIf="data.showNoButton||true" mat-raised-button (click)="onNoClick()">No Thanks</button>
    <button *ngIf="data.showOkButton||true" [ngClass]="{'mr-auto':data.showNoButton == false}" mat-raised-button
        color="primary" class="ml-auto" (click)="onYesClick()" cdkFocusInitial>Yes</button>
</div>