<div class="container" class="px-32">
    <h3>{{type}}</h3>
    <form fxLayout="column" [formGroup]="fb" (ngSubmit)="onSubmit()">
        <mat-form-field *ngFor="let input of inputs; let i = index">
            <input *ngIf="input.type != 'select'" matInput [type]="input.type" [placeholder]="input.placeholder"
                [formControlName]="input.name">
            <mat-select *ngIf="input.type == 'select'" [placeholder]="input.placeholder" [formControlName]="input.name">
                <mat-option *ngFor="let option of input.options" [value]="option">{{option}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div style="display: flex; justify-content: center;">
            <button style="width: 150px;" mat-raised-button color="primary" type="submit">Save</button>
        </div>
    </form>
</div>