<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
<div *ngIf="!loading" class="container" fxLayout="column" fxLayoutGap="15px">
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px">
        <mat-card fxFlex="65" class="mat-elevation-z3">
            <mat-card-header>
                <mat-card-title>My Profile</mat-card-title>
            </mat-card-header>
            <mat-card-content class="profile" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
                fxLayoutGap="15px">
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Circle-icons-profile.svg" width="150">
                <form class="form" [formGroup]="fb" (ngSubmit)="onUpdate()" fxLayout="column">
                    <mat-form-field>
                        <input matInput placeholder="Username" type="text" formControlName="name">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Email" type="text" formControlName="email" required>
                    </mat-form-field>
                    <button style="margin-top: 15px" mat-raised-button color="primary">Update</button>
                </form>
            </mat-card-content>
        </mat-card>
        <mat-card fxFlex="25" class="mat-elevation-z3">
            <mat-card-header>
                <mat-card-title>My Apps</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="25px" class="app">
                <button routerLink="/list" mat-fab matTooltip="List">
                    <mat-icon>list_alt</mat-icon>
                </button>
                <button *ngIf="userData.level == 'admin'" routerLink="/createform" mat-fab matTooltip="Form">
                    <mat-icon>meeting_room</mat-icon>
                </button>
                <button *ngIf="userData.level == 'admin'" routerLink="/member" mat-fab matTooltip="Member">
                    <mat-icon>people</mat-icon>
                </button>
                <button mat-fab matTooltip="Theme">
                    <mat-icon>palette</mat-icon>
                </button>
                <!-- <button mat-fab matTooltip="Add More" color="primary">
                    <mat-icon>add</mat-icon>
                </button> -->
            </mat-card-content>
        </mat-card>
    </div>
    <!-- <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px">
        <mat-card fxFlex="65" class="mat-elevation-z3">
            <mat-card-header>
                <mat-card-title>Soal (Quest)</mat-card-title>
                <span class="spacer"></span>
                <button mat-raised-button color="accent" (click)="onAddQuest()">
                    <mat-icon>playlist_add</mat-icon> Add More Book
                </button>

            </mat-card-header>
            <mat-card-header>
                <form fxLayoutGap="15px" *ngIf="addquest" [formGroup]="questForm" (ngSubmit)="OnBookAdded()">
                    <mat-form-field>
                        <input matInput type="text" placeholder="Book Name" formControlName="bookName">
                    </mat-form-field>
                    <button mat-raised-button color="accent" type="submit">Add Book</button>
                </form>
            </mat-card-header>

            <mat-card-content fxLayout="column" class="profile" fxLayout.sm="column" fxLayout.xs="column"
                fxLayoutGap="15px">
                <mat-list *ngFor="let book of books" fxLayout="column">
                    <h3 mat-subheader>{{book.nama}}</h3>
                    <mat-list-item *ngFor="let quest of book.quest">Item 1</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>

    </div> -->
</div>