

.container{
    padding: 10px 55px;
}

.profile{
    margin:0 30px;
    // justify-content: space-between
}

.form{
    margin-left: 25%
}

.app{
    flex-wrap: wrap;
    margin: 15px;
}

.app button{
    margin-bottom: 15px;
}

.spacer{
    flex: 1 1 auto;
}