<h1 mat-dialog-title>Share Form</h1>
<form fxLayout="column" [formGroup]="fb" (ngSubmit)="onSubmit()" mat-dialog-content>
    <mat-form-field>
        <mat-label>Members</mat-label>
        <mat-select formControlName="user" multiple>
            <mat-option *ngFor="let member of members" [value]="member">{{member.data.email}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="sign-btn">
        <button mat-button type="button" (click)="onNoClick()">No Thanks</button>
        <button mat-raised-button type="submit" color="accent">Share</button>
    </div>
</form>