.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93.4vh;
    background: #f8f8f8;
}

.form-container{
  background: white;
  border-radius: 10px;
  padding: 35px 75px;
}

.btn-sign{
    margin: 10px 0 ;
    justify-content: space-between;
}

.title-login{
    text-align: center;
    color: rgb(59, 59, 59)
}