
<div class="container">
    <form [formGroup]="fb" (ngSubmit)="onSignIn()" fxLayout="column" class="form-container">
        <h2 class="title-login">Login Form</h2>
        <mat-form-field>
            <input formControlName="email" matInput placeholder="Your Email" type="email">
        </mat-form-field>
        <mat-form-field>
            <input formControlName="password" matInput placeholder="Your Password" type="password">
        </mat-form-field>
        <div class="btn-sign" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px">
            <button fxFlexOrder="2" mat-raised-button type="submit" color="primary">Sign In</button>
            <button fxFlexOrder="1" mat-raised-button type="button" color="accent" (click)="onSignUp()">Sign Up</button>
        </div>
    </form>
</div>