<main [class.red-theme]="primaryColor == 'red'" [class.blue-grey-theme]="primaryColor == 'blue-grey'"
  [class.grey-theme]="primaryColor == 'grey'">
  <nav class="mat-elevation-z3">
    <mat-toolbar color="primary" class="nav title ">
      <h3 class="brand-title" routerLink='/'>Wep Form App</h3>
      <span class="spacer"></span>

      <h4 *ngIf="this.authService.isLoggedIn()">{{userProfile?.email}}</h4>
      <button *ngIf="this.authService.isLoggedIn()" class="menu-btn" mat-icon-button [matMenuTriggerFor]="menuTheme"
        matTooltip="Theme" color="primary">
        <mat-icon>palette</mat-icon>
      </button>
      <ng-template #noRadio>
        radio_button_unchecked
      </ng-template>
      <mat-menu #menuTheme="matMenu">
        <button mat-menu-item (click)="savePrimaryColor('red')">
          <mat-icon [color]="'no-color'">
            <ng-container *ngIf="primaryColor === 'red'; else noRadio">radio_button_checked</ng-container>
          </mat-icon>
          Red
        </button>
        <button mat-menu-item (click)="savePrimaryColor('blue-grey')">
          <mat-icon [color]="'no-color'">
            <ng-container *ngIf="primaryColor === 'blue-grey'; else noRadio">radio_button_checked</ng-container>
          </mat-icon>
          Blue Grey
        </button>
        <button mat-menu-item (click)="savePrimaryColor('grey')">
          <mat-icon [color]="'no-color'">
            <ng-container *ngIf="primaryColor === 'grey'; else noRadio">radio_button_checked</ng-container>
          </mat-icon>
          Grey
        </button>
      </mat-menu>
      <button *ngIf="this.authService.isLoggedIn()" class="menu-btn" mat-icon-button [matMenuTriggerFor]="menu"
        matTooltip="Menu" color="primary">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button routerLink="/profile" mat-menu-item>
          <mat-icon>account_circle</mat-icon>Profile
        </button>
        <button routerLink="dashboard/homepage" mat-menu-item>
          <mat-icon>dashboard</mat-icon>Dashboard
        </button>
        <button (click)="onLogout()" mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>Logout
        </button>
      </mat-menu>
    </mat-toolbar>
  </nav>
  <router-outlet></router-outlet>
</main>