nav{
    position: relative;
    z-index: 9;
}
.title{
    color: white
}

.menu-btn{
    color: white !important;
    float: right
}

.spacer{
    flex: 1 1 auto
}

.brand-title{
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.brand-title:hover{
    cursor: pointer;
    transform: scale(1.1);
}