<mat-card>
    <mat-card-header>
        <mat-card-title>
            List Of All Menu
        </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayoutGap="15px">
        <mat-card *ngFor="let menu of menus" class="menu-container px-32">
            <mat-card-header>
                <mat-card-title>
                    {{menu.data.name}}
                </mat-card-title>
                <mat-card-subtitle>
                    Form Type: {{menu.data.type}}
                </mat-card-subtitle>
                <mat-card-subtitle>
                    One Fill Only: {{menu.data.oneFillOnly?'Yes':'No'}}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

            </mat-card-content>
            <mat-card-actions *ngIf="userData.level == 'admin'">
                <button mat-raised-button color="accent" (click)="onDelete(menu)"> DELETE</button>
                <button mat-raised-button color="accent"> UNSHARE</button>
                <button mat-raised-button color="primary" (click)="onShare(menu)">SHARE</button>
                <button mat-raised-button color="primary" (click)="onEdit(menu)">Edit</button>
            </mat-card-actions>
        </mat-card>
        <div *ngIf="menus?.length == 0">
            <h3 style="text-align: center;"> OOOPPS, There's No Menu Here</h3>
        </div>
    </mat-card-content>
</mat-card>