<mat-card class="mat-elevation-z0">
    <mat-card-header>
        <mat-card-title>{{menu?.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" [placeholder]="'Search for '+ menu?.name">
            </mat-form-field>
            <button style="float:right;" mat-raised-button color="primary" (click)="onDownloadReport()">Download
                Report</button>
            <button class="mr-16" style="float:right;" mat-raised-button color="primary" (click)="onAdd()">Add
                Data</button>
        </div>
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
        <div class="mat-elevation-z8 overflow-auto">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="pr-32"> {{column=='action'?'':column}}
                    </th>
                    <td mat-cell *matCellDef="let element" class="pr-32 text-center">
                        {{element[column]}}
                        <button (click)="onEdit(element)" color="primary" *ngIf="column == 'action'" mat-icon-button
                            matTooltip="edit">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button (click)="onDelete(element)" color="warn" *ngIf="column == 'action'" mat-icon-button
                            matTooltip="Delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div *ngIf="dataSource?.data?.length == 0"
                style="display:flex; justify-content: center; align-items: center;">
                <h3>No data</h3>
            </div>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>