<div class="container">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup" fxLayout="column">
                <ng-template matStepLabel>Fill out your Menu</ng-template>
                <mat-form-field>
                    <input matInput #menuName placeholder="Menu Name" formControlName="name" required>
                    <!-- <mat-hint align="end">{{menuName.value.length}} / 15</mat-hint> -->
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Form Type</mat-label>
                    <mat-select formControlName="formType">
                        <mat-option *ngFor="let type of formTypes" [value]="type">
                            {{type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div fxFlex fxLayout="column" class="mt-24">
                    <label class="mb-16">One Time Fill Only</label>
                    <mat-radio-group formControlName='oneFillOnly'>
                        <mat-radio-button [value]="true" class="mr-16">Yes</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div fxFlex fxLayout="column" class="mt-24">
                    <label class="mb-16">Anyone Can See</label>
                    <mat-radio-group formControlName='canBeShared'>
                        <mat-radio-button [value]="true" class="mr-16">Yes</mat-radio-button>
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="mt-24">
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup" fxLayout="column">
                <ng-template matStepLabel>Fill out your Form Template</ng-template>
                <mat-form-field>
                    <input matInput placeholder="Enter Your Field Name" formControlName="name" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Menu Type</mat-label>
                    <mat-select formControlName="type" (selectionChange)="onMenuTypeChanges($event)">
                        <mat-option *ngFor="let type of types" [value]="type" class="text-capital">
                            {{type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div *ngIf="secondFormGroup.getRawValue().type == 'select'">
                    <mat-form-field *ngFor="let item of options">
                        <input matInput placeholder="Enter Your Field Name" [(ngModel)]="currOption"
                            [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
                <mat-list role="list" *ngIf="secondFormGroup.getRawValue().type == 'select'">
                    <div mat-subheader>Options</div>
                    <mat-list-item *ngFor="let item of secondFormGroup.getRawValue().options; let idx=index"
                        role="listitem">
                        {{item}} <mat-icon color="accent" class="cursor-pointer" (click)="onOptionClear(idx)">clear
                        </mat-icon>
                    </mat-list-item>
                </mat-list>
                <button *ngIf="secondFormGroup.getRawValue().type == 'select'" style="margin:20px 0;" mat-raised-button
                    color="primary" (click)="onAddOption()">Add More
                    Option</button>
                <button style="margin:20px 0;" mat-raised-button color="primary" (click)="onAddField()">Add More
                    Field</button>
                <button style="margin-bottom:15px;" mat-raised-button color="accent" (click)="fields.pop()">Undo
                    Field</button>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
            <ng-template matStepLabel>Check Your Form</ng-template>
            <div *ngIf="fields.length ==0">
                <h3 style="text-align: center;">Fill out your form template first</h3>
            </div>
            <div *ngFor="let field of fields" fxLayout="column">
                <mat-form-field *ngIf="field.type!='select'">
                    <input [type]="field.type" matInput [placeholder]="field.name">
                </mat-form-field>
                <mat-form-field *ngIf="field.type=='select'">
                    <mat-select [placeholder]="field.name">
                        <mat-option *ngFor="let option of field.options" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <div *ngIf="fields.length > 0">
                Your are now done.
            </div>
            <div *ngIf="fields.length == 0">
                Your are not done yet.
            </div>
            <div style="margin-top:15px">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset(); fields = []">Reset</button>
                <button mat-raised-button color="primary" [disabled]="fields.length == 0 && loading"
                    (click)="onSave()">Save</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>