<div class="container">
    <h3>Surat Izin Pemakaian Kendaraan</h3>
    <form fxLayout="column" [formGroup]="fb" (ngSubmit)="onSubmit()">
        <mat-form-field *ngFor="let input of inputs">
            <input matInput [type]="input.type" [placeholder]="input.placeholder" [formControlName]="input.name">
        </mat-form-field>
        <div style="display: flex; justify-content: center;">
            <button style="width: 150px;" mat-raised-button color="primary" type="submit">Save</button>
        </div>
    </form>
</div>