/* You can add global styles to this file, and also import other style files */
@import "./scss/primary-theme.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.m-0{margin:0;}
.p-0{padding: 0;}
.mx-8{margin: 8px !important;}
.mx-16{margin: 16px !important;}
.mx-24{margin: 24px !important;}
.mx-32{margin: 32px !important;}
.mb-0{margin:0 !important;}
.mb-8{margin-bottom: 8px !important;}
.mb-16{margin-bottom: 16px !important;}
.mb-24{margin-bottom: 24px !important;}
.mb-32{margin-bottom: 32px !important;}
.mt-0{margin-top: 0 !important;}
.mt-8{margin-top: 8px !important;}
.mt-16{margin-top: 16px !important;}
.mt-24{margin-top: 24px !important;}
.mt-32{margin-top: 32px !important;}
.ml-8{margin-left: 8px !important;}
.ml-16{margin-left: 16px !important;}
.ml-24{margin-left: 24px !important;}
.ml-32{margin-left: 32px !important;}
.ml-auto{margin-left: auto !important;}
.mr-auto{margin-right: auto !important;}
.mr-8{margin-right: 8px !important;}
.mr-16{margin-right: 16px !important;}
.mr-24{margin-right: 24px !important;}
.mr-32{margin-right: 32px !important;}

.px-8{padding: 8px !important;}
.px-16{padding: 16px !important;}
.px-24{padding: 24px !important;}
.px-32{padding: 32px !important;}
.pb-8{padding-bottom: 8px !important;}
.pb-16{padding-bottom: 16px !important;}
.pb-24{padding-bottom: 24px !important;}
.pb-32{padding-bottom: 32px !important;}
.pt-8{padding-top: 8px !important;}
.pt-16{padding-top: 16px !important;}
.pt-24{padding-top: 24px !important;}
.pt-32{padding-top: 32px !important;}
.pl-8{padding-left: 8px !important;}
.pl-16{padding-left: 16px !important;}
.pl-24{padding-left: 24px !important;}
.pl-32{padding-left: 32px !important;}
.pr-8{padding-right: 8px !important;}
.pr-16{padding-right: 16px !important;}
.pr-24{padding-right: 24px !important;}
.pr-32{padding-right: 32px !important;}

.font-36{font-size: 36px !important;}
.font-24{font-size: 24px !important;}
.font-18{font-size: 18px !important;}
.font-16{font-size: 16px !important;}
.font-14{font-size: 14px !important;}
.font-12{font-size: 12px !important;}

.mat-card-header-text{
    margin: 0 !important;
}

.border-bottom{
    border-bottom: 1px solid lightgray;
}
.border-top{
    border-top: 1px solid lightgray;
}

.text-capital{
    text-transform: capitalize !important;
}
.text-center{text-align: center !important;}

.h4{ font-weight: 500 !important;}
.w-100{width: 100%;}

.cursor-pointer{cursor: pointer;}
.overflow-auto{overflow: auto;}