@import '~@angular/material/theming';
@include mat-core();
$my-app-primary: mat-palette($mat-teal);
$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

$my-app-red: mat-palette($mat-red);
$my-app-pink: mat-palette($mat-pink);
$my-app-purple: mat-palette($mat-purple);
$my-app-deep-purple: mat-palette($mat-deep-purple);
$my-app-indigo: mat-palette($mat-indigo);
$my-app-blue: mat-palette($mat-blue);
$my-app-light-blue: mat-palette($mat-light-blue);
$my-app-cyan: mat-palette($mat-cyan);
$my-app-teal: mat-palette($mat-teal);
$my-app-green: mat-palette($mat-green);
$my-app-light-green: mat-palette($mat-light-green);
$my-app-lime: mat-palette($mat-lime);
$my-app-yellow: mat-palette($mat-yellow);
$my-app-amber: mat-palette($mat-amber);
$my-app-orange: mat-palette($mat-orange);
$my-app-deep-orange: mat-palette($mat-deep-orange);
$my-app-brown: mat-palette($mat-brown);
$my-app-grey: mat-palette($mat-grey);
$my-app-blue-grey: mat-palette($mat-blue-grey);

$my-app-theme-red:mat-light-theme($my-app-red, $my-app-accent, $my-app-warn);
$my-app-theme-red:mat-light-theme($my-app-red, $my-app-accent, $my-app-warn);
$my-app-theme-red:mat-light-theme($my-app-red, $my-app-accent, $my-app-warn);
$my-app-theme-red:mat-light-theme($my-app-red, $my-app-accent, $my-app-warn);
$my-app-theme-red:mat-light-theme($my-app-red, $my-app-accent, $my-app-warn);
$my-app-theme-red:mat-light-theme($my-app-red, $my-app-accent, $my-app-warn);
$my-app-theme-red:mat-light-theme($my-app-red, $my-app-accent, $my-app-warn);
$my-app-theme-red:mat-light-theme($my-app-red, $my-app-accent, $my-app-warn);
$my-app-theme-red:mat-light-theme($my-app-red, $my-app-accent, $my-app-warn);
$my-app-theme-red:mat-light-theme($my-app-red, $my-app-accent, $my-app-warn);
$my-app-theme-red:mat-light-theme($my-app-red, $my-app-accent, $my-app-warn);
$my-app-theme-red:mat-light-theme($my-app-red, $my-app-accent, $my-app-warn);
$my-app-theme-red:mat-light-theme($my-app-red, $my-app-accent, $my-app-warn);
$my-app-theme-red:mat-light-theme($my-app-red, $my-app-accent, $my-app-warn);
$my-app-theme-red:mat-light-theme($my-app-red, $my-app-accent, $my-app-warn);
$my-app-theme-red:mat-light-theme($my-app-red, $my-app-accent, $my-app-warn);
$my-app-theme-grey:mat-light-theme($my-app-grey, $my-app-accent, $my-app-warn);
$my-app-theme-blue-grey:mat-light-theme($my-app-blue-grey, $my-app-accent, $my-app-warn);




@include angular-material-theme($my-app-theme);

// .alternate-theme {
//   $alternate-primary: mat-palette($mat-light-blue);
//   $alternate-accent:  mat-palette($mat-yellow, 400);
//   $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
//   @include angular-material-theme($alternate-theme);
// }


// @mixin angular-material-theme($theme) {
//   @include mat-core-theme($theme);
//   @include mat-autocomplete-theme($theme);
//   @include mat-button-theme($theme);
//   @include mat-button-toggle-theme($theme);
//   @include mat-card-theme($theme);
//   @include mat-checkbox-theme($theme);
//   @include mat-chips-theme($theme);
//   @include mat-datepicker-theme($theme);
//   @include mat-dialog-theme($theme);
//   @include mat-grid-list-theme($theme);
//   @include mat-icon-theme($theme);
//   @include mat-input-theme($theme);
//   @include mat-list-theme($theme);
//   @include mat-menu-theme($theme);
//   @include mat-progress-bar-theme($theme);
//   @include mat-progress-spinner-theme($theme);
//   @include mat-radio-theme($theme);
//   @include mat-select-theme($theme);
//   @include mat-sidenav-theme($theme);
//   @include mat-slide-toggle-theme($theme);
//   @include mat-slider-theme($theme);
//   @include mat-tabs-theme($theme);
//   @include mat-toolbar-theme($theme);
//   @include mat-tooltip-theme($theme);
// }

.red-theme{
  @include angular-material-theme($my-app-theme-red);
}

.blue-grey-theme{
  @include angular-material-theme($my-app-theme-blue-grey);
}

.grey-theme{
  @include angular-material-theme($my-app-theme-grey);
}




.menu-list-item{
  padding-right: 0 !important;

  .mat-button-wrapper{
    width: 100%;
    text-align: left;
    span{
      width: 140px;
      position: absolute;
      overflow: hidden;
    }
  }
  display: flex !important;
  flex-direction: row;    
  font-weight: 500 !important;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
  h4{
    margin: 10px 0;
    text-align: left;
  }
  .edit{
    cursor: pointer;
    font-size: 18px;
    float: right;
    top: 8px;
    position: relative;
  }
}