  .container {
    height: 93.4vh;
    }

  .sidenav-container{
    width: 245px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: rgba(0,0,0,.65);
    font-weight: 500 !important;
    padding: 0 15px;
  }

  #menu{
    color: white;
  }

  mat-icon{
    text-align: center !important;
  }

  .abos{
    color: red !important;
  }

  .activated-menu{
    background: #80808038;
    border-radius: 6px;
  }
  