<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<mat-drawer-container *ngIf="!loading" class="container">
    <mat-drawer color="primary" class="sidenav-container" mode="side" opened>
        <h3>App Menu
            <button color="primary" mat-icon-button matTooltip="Edit Menu">
                <mat-icon class="edit" (click)="addMore = !addMore">edit</mat-icon>
            </button>
        </h3>
        <button color="primary" mat-button class="menu-list-item w-100" fxLayout="row" *ngFor="let menu of menus"
            [routerLink]="['/dashboard/tabledata/'+menu.data.type+'/'+userProfile.key]"
            routerLinkActive="router-link-active" #rla="routerLinkActive" [ngClass]="rla.isActive ? 'activated-menu' : ''">
            <mat-icon class="mr-8">list_alt</mat-icon>
            <span>{{menu.data.name}}</span>
            <mat-icon *ngIf="addMore" class="edit abos ml-auto" (click)="onDelete(menu)">delete</mat-icon>
        </button>
    </mat-drawer>
    <mat-drawer-content class="main-container">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>