<div *ngIf="!loading" class="px-16" fxFlex fxLayout="column" fxLayoutGap="15px">
    <h1>Welcome to dashboard</h1>
    <mat-card class="mat-elevation-z3">
        <mat-card-header>
            <mat-card-title>My Apps</mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="25px" class="app">
            <button routerLink="/list" mat-fab matTooltip="List form">
                <mat-icon>list_alt</mat-icon>
            </button>
            <button *ngIf="userData.level == 'admin'" routerLink="/createform" mat-fab matTooltip="Create new form">
                <mat-icon>meeting_room</mat-icon>
            </button>
            <button *ngIf="userData.level == 'admin'" routerLink="/member" mat-fab matTooltip="Member">
                <mat-icon>people</mat-icon>
            </button>
            <!-- <button mat-fab matTooltip="Add More" color="primary">
                <mat-icon>add</mat-icon>
            </button> -->
        </mat-card-content>
    </mat-card>

    <div fxFlex fxLayoutGap="15px">
        <mat-card fxFlex="50">
            <mat-card-title>Form</mat-card-title>
            <mat-card-content fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px"
                class="app">
                <div fxLayout="row">
                    <mat-icon color="primary" class="font-36">list_alt</mat-icon>
                    <h2 class="mt-0 mb-0 font-36 ml-16">{{forms?.length}}</h2>
                </div>

                <div *ngFor="let form of forms;let id = index" fxLayout="row"
                    class="pt-16 border-top" fxLayoutAlign="space-between center">
                    <h3 class="m-0">{{form.name}}</h3>
                    <button [routerLink]="['/dashboard/tabledata/'+form.type+'/'+userProfile.key]" mat-stroked-button color="primary">Go to</button>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card *ngIf="userProfile.level == 'admin'" fxFlex="50">
            <mat-card-title>Members</mat-card-title>
            <mat-card-content fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="15px"
                class="app">
                <div fxLayout="row">
                    <mat-icon color="primary" class="font-36">people</mat-icon>
                    <h2 class="mt-0 mb-0 font-36 ml-16">{{members?.length}}</h2>
                </div>

                <div *ngFor="let member of members;let id = index" fxLayout="row"
                    class="pt-16 border-top" fxLayoutAlign="space-between center">
                    <h3 class="m-0">{{member.name}}</h3>
                    <button mat-stroked-button color="primary">Go to</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>