<mat-card>
        <mat-card-header>
            <mat-card-title>
                Members
            </mat-card-title>
        </mat-card-header>
        <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayoutGap="15px">
            <mat-card *ngFor="let member of members" class="member-container">
                <mat-card-header>
                    <mat-card-title>
                        {{member.data.name}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{member.data.email}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
    
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="accent" (click)="onDelete(member)"> Delete</button>
                    <button mat-raised-button color="primary">View</button>
                </mat-card-actions>
            </mat-card>
        </mat-card-content>
    </mat-card>