<h1 mat-dialog-title>Hi New Member </h1>
<form fxLayout="column" [formGroup]="fb" (ngSubmit)="onSubmit()" mat-dialog-content>
    <mat-form-field>
        <input formControlName="name" placeholder="Enter Your username" matInput type="text" required>
    </mat-form-field>
    <mat-form-field>
        <input formControlName="email" placeholder="Enter Your Email" matInput type="email" required>
    </mat-form-field>
    <mat-form-field>
        <input formControlName="password" placeholder="Enter Your Password" matInput type="password" required>
    </mat-form-field>
    <div class="sign-btn">
        <button mat-button type="button" (click)="onNoClick()">No Thanks</button>
        <button mat-raised-button type="submit" color="accent">Sign Up</button>
    </div>
</form>